flask==1.0.3
flask-sqlalchemy==2.4.0
psycopg2==2.8.2
flask_script==2.0.6
flask_migrate==2.5.2
flask-paginate==0.5.0
pandas==0.24.2
redis==4.5.3
watch==0.2.7
pika==1.0.1
dramatiq==1.6.0
flask-dramatiq==0.4.1